<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="{{ handler_name }}"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="{{ venv_path }}\Scripts\python.exe|{{ venv_path }}\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    {% if windows_auth %}
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>
    {% endif %}
    <defaultDocument enabled="false" />
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="{{ wsgi }}" />
    <add key="PYTHONPATH" value="{{ base_dir }}" />
    <add key="WSGI_LOG" value="{{ logs_folder }}\wfastcgi.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="DJANGO_SETTINGS_MODULE" value="{{ django_settings }}" />
  </appSettings>
</configuration>