asgiref==3.3.4
Django==3.2.3
django-appconf==1.0.4
django-debug-toolbar==3.2.1
-e git+https://github.com/danyi1212/django-windowsauth.git@4016cdd181e42ae85e19176eb1f364cd91ad2316#egg=django_windowsauth
ldap3==2.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pytz==2020.4
sqlparse==0.4.1
wfastcgi==3.0.0
