<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Django FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Sites\django-windowsauth\testproj\venv\Scripts\python.exe|C:\Sites\django-windowsauth\testproj\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
    
    <defaultDocument enabled="false" />
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="testproj.wsgi.application" />
    <add key="PYTHONPATH" value="C:\Sites\django-windowsauth\testproj" />
    <add key="WSGI_LOG" value="C:\Sites\django-windowsauth\testproj\logs\wfastcgi.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="DJANGO_SETTINGS_MODULE" value="testproj.settings" />
  </appSettings>
</configuration>